/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body{

    font-family:'Poppins', sans-serif;

    background:#F8FAFC;

    color:#0F172A;

}

/* Seção principal */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título */
.hero h1 {
    font-size: 60px;
}

/* Subtítulo */
.hero h2 {
    margin-top: 20px;
    color: #2563EB;
}

/* Texto */
.hero p {
    margin-top: 20px;
    font-size: 20px;
}

/* Botão */
.hero button{

    margin-top:40px;

    padding:16px 38px;

    border:none;

    border-radius:10px;

    background:#2563EB;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;

}

.hero button:hover{

    background:#1D4ED8;

    transform:translateY(-3px);

}


/* ==========================
   NAVBAR
========================== */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

}

.logo{

    font-size:28px;

    font-weight:bold;

}

.menu{

    display:flex;

    list-style:none;

    gap:35px;

}

.menu a{

    text-decoration:none;

    color:#222;

    font-weight:600;

}